/* App.css */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if you're using Tailwind Flex/Grid */
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}